<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../../src/output.css ">

</head>
<body>
<!--text color-->
<h1 class="text-pink-500 bg-green-400">Text color</h1>
<h2 class="text-green-500 bg-pink-500">Text using custom vlaue</h2>
<!--Accent color-->
<input type="checkbox" class="accent-green-500">English
<input type="radio" name="gender" id="grnder" class="accent-pink-800">Female
<input type="range" name="id" class="accent-red-400">
</body>
</html>